<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketsLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <TicketsLogger.Properties.Settings>
            <setting name="smtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailAddress" serializeAs="String">
                <value>rugambacedric@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Lbjames@2391</value>
            </setting>
            <setting name="company" serializeAs="String">
                <value>Bank of Kigali</value>
            </setting>
        </TicketsLogger.Properties.Settings>
    </userSettings>
</configuration>